html {
  font-size: 16px;
}
body {
  background-color: lightblue;
}
#title {
  color: navy;
}
.form-group {
  font-size: 22px;
}
#email,
#User,
#pass,
#cpass {
  width: 40%;
  display: inline-block;
  border-radius: 5px;
  margin: 7px 0px;
  padding: 10px 18px;
  border-color: black;
}
.sub {
  border-radius: 5px;
  cursor: pointer;
  padding: 10px 18px;
  width: 50%;
  margin: 7px 0px;
  color: white;
  background-color: navy;
}
.br-25 {
  border-radius: 25px;
}
.br-10 {
  border-radius: 15px;
}
.logo {
  font-style: italic;
  font-weight: bolder;
  font-size: 3rem;
  background: linear-gradient(to right, #21f352, #006e37);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}
.text-gradient{
  background: linear-gradient(to right, #21f352, #006e37);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  background-color: white !important;
}
.nav-brand {
  /* background-color: white !important; */
  font-style: italic;
  font-weight: bolder;
  font-size: 1.2rem;
  /* background: linear-gradient(to right, #21f352, #006e37);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text; */
}
.clr-grey {
  color: rgb(57, 57, 57);
}
.bg-gradient {
  background-color: #10b637 !important;
  color:white !important;
}
button {
  transition: 0.3s all ease;
}
button:hover {
  scale: 1.05;
}
a {
  text-decoration: none !important;
  color: #006e37 !important;
}


img {
  max-height: 95% !important;
}

@media screen and (max-width: 1024px) {
  html {
    font-size: 12px;
  }
}
@media screen and (max-width: 1332px) {
  html {
    font-size: 14px;
  }
}
